<div class="row">
  <div class="col-xs-12">

  </div>
  </div>
  <div class="row">
  <div class="col-xs-12">
  <h1>{{employee1.EmpName | uppercase }}</h1>
  </div>
  </div>
  <div class="row">
  <div class="col-xs-12">
  <div class="btn-group"  appDropdown>
    <button type="button"
    class="btn btn-primary dropdown-toggle">
    Manage Employees <span class="caret"></span>
  </button>
 <!--  <ul class="dropdown-menu">
  <li><a  (click)= "onAddToShopingList()" style="cursor: pointer" >Add to Shoppinglist</a></li>
  <li><a style="cursor: pointer" (click) ="onEditRecipe()" >Edit Recipe</a></li>
  <li><a style="cursor: pointer"(click) ="onDeleteRecipe()">Delete Recipe</a></li>
  </ul> -->
  </div>
  </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
      {{employee1.Salary}}
      </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
    {{employee1.Email}}
    </div>
</div>


